@font-face {
    font-family: "advanced Led Board 7";
    src: url(fonts/advanced-led-board-7.regular.ttf);
}

@font-face {
    font-family: "Digital 7";
    src: url(fonts/digital-7.monoitalic.ttf);
}

.led {
    font-family: "advanced Led Board 7";
}

th {
    font-family: "Consolas";
    font-size: 25px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232525;
    font-family: Tahoma, sans-serif;
    box-sizing: border-box;
}

.titel {
    font-family: "Digital 7";
    font-size: 70px;
    color: #0984e3;
    position: absolute;
    top: 10px;
}

.hinweis {
    font-family: "Tahoma";
    font-size: 60px;
    color: #0984e3;
    position: absolute;
    top: 45%;
}

.board {
    position: absolute;
    left: 50px;
    bottom: 22%;
}

table {
    border-radius: 20px;
}

table {
    background-color: black;
    border-collapse: collapse;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, .5);
}

.decimal>table>tbody>tr>td,
.hexadecimal>table>tbody>tr>td,
.tabelle-right-top>table>tbody>tr>td {
    width: 21vw;
    color: white;
    font-size: 12vh;
}

.decimal>table>thead>tr>th {
    padding: 10px 75px;
}

.hexadecimal>table>thead>tr>th {
    padding: 10px 50px;
}

.tabelle-right-top>table>thead>tr>th {
    padding: 10px 60px;
}

.scrollbar>table>thead>tr>th {
    padding: 10px 10px;
}


.scrollbar>td {
    font-size: 20px;
    color: white;
}

thead {
    background-color: #0984e3;
    position: sticky;
    top: 0;
}

td {
    padding: 10px 20px;
    text-align: center;
}

.scrollbar>table>tbody>tr>td {
    width: 6vw;
    font-size: 20px;
    color: white;
    padding: 2px 0px;
}

.tabelle {
    margin-bottom: 30px;
}

.tabelle-right-top {
    position: absolute;
    right: 2%;
    top: 12%;
}

.byte {
    padding-right: 25px;
}

.byte-screen {
    background-color: black;
    border-radius: 50px;
    position: absolute;
    bottom: 3%;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, .5);
    z-index: 3;
}

.byte-screen .byte {
    position: relative;
    display: inline-block;
    margin: 10px;
    font-size: 0;
}

.byte-screen svg {
    display: inline-block;
    margin: 10px;
}

.byte-screen svg .segment {
    fill: rgba(0, 0, 0, 0.1);
    transition: .3s ease-in-out;
}

.byte-screen svg.bin-0 .a,
.byte-screen svg.bin-0 .b,
.byte-screen svg.bin-0 .c,
.byte-screen svg.bin-0 .d,
.byte-screen svg.bin-0 .e,
.byte-screen svg.bin-0 .f,
.byte-screen svg.bin-1 .b,
.byte-screen svg.bin-1 .c {
    fill: lime;
}

.dark-mode {
    width: 200px;
    height: 80px;
    background-color: #0984e3;
    color: white;
    border-radius: 60px;
    cursor: pointer;
    margin: 0 15px 0 15px;
    position: absolute;
    left: 3%;
    top: 10%;
    display: flex;
    align-items: center;
}

.switch_dark-mode {
    width: 115px;
    height: 80px;
    background-color: lightgray;
    border-radius: 40px;
    position: absolute;
    top: 0px;
    /* left: 0px; */
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 1);
    transition: transform 1s ease;
    z-index: 3;
}

.light-icon {
    width: 60px;
    margin-left: 15px;
    margin-right: 65px;
}

.dark-icon {
    width: 45px;
    right: 20px;
}

.schalter {
    width: 80px;
    height: 40px;
    background-color: #282828;
    color: white;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    margin: 0 15px 0 15px;
}

.schalter-active {
    width: 80px;
    height: 40px;
    background-color: #0984e3;
    color: white;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    margin: 0 15px 0 15px;
}

.links {
    margin-left: 15px;

}

.rechts {
    float: right;
    margin-right: 15px;
}

.rechts,
.links {
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
}

.switch {
    width: 40px;
    height: 40px;
    background-color: lightgray;
    border-radius: 20px;
    position: absolute;
    top: 0px;
    left: 40px;
}

.schalter-screen {
    display: flex;
    margin-left: 35px;
    margin-bottom: 20px;
}

.container {
    margin: 20px auto;
    width: 600px;
    position: absolute;
    bottom: 15%;
}

#tachometer {
    background: #171717;
    margin: 100px auto;
    width: 400px;
    height: 400px;
    box-shadow: inset 0px 0px 9px 3px rgba(0, 0, 0, 1);
    border: 5px solid #171717;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ii {
    position: absolute;
    width: 600px;
    height: 600px;
    z-index: 2;

}

.ii div {
    position: absolute;
    width: 600px;
    height: 600px;
    padding: 103px;
    box-sizing: border-box;
}

.ii div b {
    position: absolute;
    display: block;
    left: 50%;
    width: 5px;
    height: 20px;
    background: #FFF;
    margin: 0 -5px 0;

}

.ii div:nth-child(2n+1) b {
    width: 8px;
    height: 35px;
    margin: 0 -5px 0;
}

.ii div:nth-child(1) {
    transform: rotate(260deg);
}

.ii div:nth-child(2) {
    transform: rotate(270deg);
}

.ii div:nth-child(3) {
    transform: rotate(280deg);
}

.ii div:nth-child(4) {
    transform: rotate(290deg);
}

.ii div:nth-child(5) {
    transform: rotate(300deg);
}

.ii div:nth-child(6) {
    transform: rotate(310deg);
}

.ii div:nth-child(7) {
    transform: rotate(320deg);
}

.ii div:nth-child(8) {
    transform: rotate(330deg);
}

.ii div:nth-child(9) {
    transform: rotate(340deg);
}

.ii div:nth-child(10) {
    transform: rotate(350deg);
}

.ii div:nth-child(11) {
    transform: rotate(0deg);
}

.ii div:nth-child(12) {
    transform: rotate(10deg);
}

.ii div:nth-child(13) {
    transform: rotate(20deg);
}

.ii div:nth-child(14) {
    transform: rotate(30deg);
}

.ii div:nth-child(15) {
    transform: rotate(40deg);
}

.ii div:nth-child(16) {
    transform: rotate(50deg);
}

.ii div:nth-child(17) {
    transform: rotate(60deg);
}

.ii div:nth-child(18) {
    transform: rotate(70deg);
}

.ii div:nth-child(19) {
    transform: rotate(80deg);
}

.ii div:nth-child(20) {
    transform: rotate(90deg);
}

.ii div:nth-child(21) {
    transform: rotate(100deg);
}


[class^="num_"] {
    color: #FFF;
    display: block;
    position: absolute;
    width: 10px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    text-decoration: none;

}

.num_0 {
    transform: rotate(100deg);
    top: 37px;
}

.num_10 {
    transform: rotate(80deg);
    top: 35px;
    left: 0px
}

.num_20 {
    transform: rotate(60deg);
    top: 35px;
    left: -3px;
}

.num_30 {
    transform: rotate(40deg);
    top: 35px;
    left: -9px
}

.num_40 {
    transform: rotate(20deg);
    top: 35px;
    left: -13px
}

.num_50 {
    transform: rotate(360deg);
    top: 35px;
    left: -12px
}

.num_60 {
    transform: rotate(340deg);
    top: 45px;
    left: -13px;
}

.num_70 {
    transform: rotate(320deg);
    top: 50px;
    left: -9px
}

.num_80 {
    transform: rotate(300deg);
    top: 55px;
    left: -8px
}

.num_90 {
    transform: rotate(280deg);
    top: 58px;
    left: -3px
}

.num_100 {
    transform: rotate(260deg);
    top: 74px;
    left: 6px
}

.pin {
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
    background-color: #343536;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to bottom, #F14134, #c22020);
    z-index: 4;
}

.inner {
    width: 30px;
    height: 30px;
    margin: 10px auto 0;
    background-color: #343536;
    border-radius: 100%;
    box-shadow: inset 0 8px 15px 0 rgba(167, 23, 10, 0.4);
    position: relative;
}

.line {
    background: #F14134;
    background-image: linear-gradient(to bottom, #ff1200, #b82525);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    transform-origin: 50% 100%;
    margin: -175px -8px 0;
    padding: 175px 6px 0;
    z-index: 2;
    border-radius: 50% 50% 0 0;
    transform: rotate(-100deg);
    transition: transform 1s ease-out;
}

.percentage-screen {
    position: absolute;
    width: 190px;
    background-color: #c7ff00;
    left: 200px;
    bottom: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percentage {
    text-align: center;
    font-size: 60px;
    font-family: "Digital 7";
}

.lamp {
    position: absolute;
    width: 110px;
    height: 110px;
    background: rgb(0, 0, 0);
    bottom: 35px;
    border-radius: 100px;
}

.lamp-glass {
    position: absolute;
    width: 110px;
    height: 110px;
    background-image: radial-gradient(circle, #ffffff1f, #fff0);
    bottom: 30px;
    border-radius: 100px;
    border: 5px solid #5e5e5e;
}

.iso_board {
    position: absolute;
    right: 2%;
    bottom: 25%;
}

.board-right-titel {
    font-size: 20px;
}

.scrollbar {
    max-height: 38%;
    overflow: auto;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, .5);
    border-radius: 0 0 0 50px;
}

/* Responsive Design */

@media (min-width: 1105px) {
    .hinweis {
        display: none;
    }

    svg {
        width: 50px;
        height: 60px;
    }

    div .schalter,
    div .schalter-active {
        margin: 2px;
    }

    .byte-screen svg {
        margin: 0 15px;
    }

    .byte-screen .byte {
        margin: 5px;
        left: -45px;
    }

    .schalter-screen {
        margin-bottom: 2px;
    }

    .byte {
        padding-right: 0;
    }
}

@media (max-width: 1104px) {

    .byte-screen,
    .dark-mode,
    .board,
    .tabelle-right-top,
    .iso_board,
    .container,
    .titel {
        display: none;
    }
}

@media (max-height: 634px) {

    .byte-screen,
    .dark-mode,
    .board,
    .tabelle-right-top,
    .iso_board,
    .container,
    .titel {
        display: none;
    }
}

@media (max-height: 720px) {
    .percentage-screen {
        bottom: 265px;
        z-index: 4;
        width: 180px;
    }

    .container {
        bottom: 4%;
    }

    .dark-mode {
        top: 5%;
    }

    .board {
        bottom: 18%;
    }

    .iso_board {
        bottom: 22%;
    }
}

@media (min-height: 900px) and (max-height: 1023px) {
    .container {
        bottom: 22%;
    }
}

@media (min-height: 1024px) {
    .container {
        bottom: 25%;
    }
}